.CTA-container {
    max-width: 100%;
    background-color: #8DC63F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.text-container h1 {
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    text-align: center;
    
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex: 0 0 auto; 
}
#number {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    background-color: #8DC63F;
    border: 4px solid white;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

#request {
    padding: 8px;
    font-size: 20px;
    background-color: white;
    font-weight: 600;
    border-style: none;
    cursor: pointer;
}

@media(max-width:700px){
    .CTA-container{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .CTA-container {
        flex-direction: column;
        padding: 5px;
        gap:10px;
        height: 80px;
    }

    .text-container h1 {
        font-size: 18px; 
        text-align: left;
        padding-left: 10px;
        
    }

    .button-container{
        justify-content: space-evenly;
        gap:12px;
    }

    #number{
        border: 3px solid white;
    }

    #number, #request {
        padding: 8px 15px;
        font-size: 11px;
    }
}
