.service-container{
    margin-top: 90px;
    color: white;
    padding: 12px;
    padding-bottom: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 465px;
    background: #1E1E1E;
}

.service-container h1{
    font-family: Roboto;
    font-weight: 500;
    color: #8DC63F;
}

.service-container h2{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: 20px;
}