.static-image-view {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 510px;
  color: #fff;
  text-align: center;
  position: relative;
}

.heading {
  text-align: left;
  font-family: Raleway;
  font-size: 64px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #7fc241; 
}

.subheading {
  width: 80%;
  font-family: Raleway;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  font-size: 32px;

}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 10px;
  
}

.button {
  font-family: Raleway;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button.primary {
  background-color: #7fc241;
  color: #000;
}

.button.primary:hover {
  background-color: #6bb032;
}

.button.secondary {
  background-color: #fff;
  color: #000;
}

.button.secondary:hover {
  background-color: #eaeaea;
}


@media (max-width: 768px) {
  .static-image-view {
    height: 210px;
  }
  .heading {
    text-align: left;
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 20px;
  }

  .subheading {
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
  }


  .button {
    border-radius: 4px;
    height: 14px;
    font-size: 10px;
    padding: 4px;
  }
}
